* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/Images/Snow.jpg);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    height: 5000px;
    padding-top: 20px;
    overscroll-behavior: none;
}
a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  .header{
    z-index: 950;
    position: fixed;
    width: 100%;
    top: 0.5; 
    
    
  }
  
  .header__content {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    padding: 0 70px;
    margin: 0 auto;
    
  }
  
  .nav__list {
    display: flex;
    column-gap: 40px;
  }
  
  .nav__link {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    transition: all 0.4s;
    position: relative;
  }
  
  .nav__link:hover,
  .nav__link:focus {
    color: rgba(255, 255, 255, 1);
  }
  
  .nav__link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.167s;
    opacity: 0;
    pointer-events: none;
  }
  
  .nav__link:hover::after {
    opacity: 1;
  }
  
  .nav__list {
    column-gap: 50px;
  }

  .main__home {
    color: rgba(255, 255, 255);
  }
  .header__background{
    
    transition: all 0.5s;
    opacity: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0);  
    height: 90px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0; 
  }

  .introduction{
    padding-top: 3%;
    padding-bottom: 3%;
    z-index: 900;
    width: 80%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0);  
    height: auto;
    position: absolute;
    top: 35%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.85);
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
  

  .hamburger{
    z-index: 951;
    display:none;
    cursor: pointer;
  }

  .bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  @media(max-width:620px){
    .hamburger{
        display:block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav__list{
        position: fixed;
        left:-100%;
        top: 70px;
        gap:0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }
    .introduction{
      padding-top: 5%;
      padding-bottom: 5%;
      width: 100%;
      
    }
    .nav__item{
        margin: 16px 0;
    }

    .nav__list.active{
        left: 0;
    }
    .header__background.active{
        height: 100%;
        overflow: hidden;
        margin: 0;
        opacity: 1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: 
        blur(10px);
    }
    .header__background{
        height: 90px;
        overflow: hidden;
        margin: 0;
        opacity: 0;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }

    body.active{
        overflow: hidden;
        
    }
    .menu-btn{
        z-index: 953;
        display: none;
        cursor: pointer;
    }

  }

  


  
  
